name: Unit Test


on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    name: unit-test job
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install pnpm
        run: npm install -g pnpm

      - name: install dependencies
        run: pnpm install

      - name: format check
        run: pnpm format

      - name: linter check
        run: pnpm lint

      - name: run unit tests
        run: pnpm test

      - name: build test
        run: pnpm build

      - name: documentation build check
        run: pnpm build-storybook

      - name: e2e tests
        run: pnpm test:e2e
      


